<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>insert</title>
</head>
<body>
    <h3>exam_insert</h3>
    <hr/> 
    <form action ="/member/exam_insert" method="post">
        <input type="hidden" name="menu" value="1">
        <table>
            <tr>
                <td><input type="text" name="name"/></td>
                <td><input type="text" name="kor"/></td>
                <td><input type="text" name="eng"/></td>
                <td><input type="text" name="math"/></td>
                <td><input type="text" name="classroom"/></td>
            </tr>
        </table>
        <input type ="submit" value = "보내기"/>
    </form>      
</body>
</html>
